<% include ../partials/header %>

    <div class="container" id="profile">
        <div class="col-xs-12 col-md-3 text-center" id="profile-image">
            <img class="thumbnail"src="<%=user.image%>">
            <% if(user._id.equals(currentUser._id)) { %>
                <a class="btn btn-primary" href="/profiles/<%=user._id%>/edit">Editar Perfil</a>
            <% } %>
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert" style="width:100%; margin-top: 12px">
                    <%- error %>
                </div>
            <% } else if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert" style="width:100%; margin-top: 12px">
                    <%- success %>
                </div>
            <% } %>
        </div>
        <div class="col-xs-12 col-md-9 thumbnail" id="profile-text">
            <div class="col-xs-4">
                <p>Nombre:</p>
                <p>Apellidos:</p>
                <p>Email:</p>
                <p>Trabajos:</p>
            </div>
            <div class="col-xs-8">
                <p><%=user.name%></p>
                <p><%=user.lastname%></p>
                <p><a href="mailto:<%=user.username%>"><%=user.username%></a></p>
                <% user.works.forEach(function(work){ %>
                    <h4><a href="/works/<%=work.id%>"><%=work.name%></a></h4>
                <% }) %>
            </div>
        </div>
    </div>

    <script>
        $("#hidden-toggle").click(function(){
            $("#hidden-toggle").fadeOut(300, function(){
                $("#hidden-profile-url").show("fade");
            });
        });
    </script>
    
<% include ../partials/footer %>