<% include ../partials/header %>

    <div class="banner text-center">
        <div class="container banner-content">
            <h1><%=work.name%></h1>
        </div>
    </div>

    <div class="container" id="work-show">
        <div class="col-xs-12 col-md-3" id="work-author">
            <div class="list-group">
                <button id="description-button" class="list-group-item">Descripción</button>
                <button id="chat-button" class="list-group-item">Discusión</button>
                <button id="images-button" class="list-group-item">Imágenes</button>
                <button id="authors-button" class="list-group-item">Autores</button>
                
            </div>
            <div class="row container">
                <a href="/works/<%=work.id%>/edit" class="btn btn-sm btn-info">Editar</a>
                <% if(work.author.id.equals(currentUser._id)){ %>
                    <form action="/works/<%=work._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Eliminar</button>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="col-xs-12" id="show-description">
                <h2>Descripción</h2>
                <h5><%=work.description%></h5>
            </div>
            <div class="col-xs-12 container" id="show-authors" style="display: none">
                <h3>Autores</h3>
                <div>
                    <img src="<%=currentUser.image%>" class="img-circle">
                    <i class="glyphicon glyphicon-small glyphicon-chevron-right"></i>
                    <a><h4><%=work.author.name%></h4></a>
                </div>
            </div>
            <div class="col-xs-12 container" id="show-images" style="display: none">
                <h3>Imágenes</h3>
                <div class="col-xs-6 col-md-4">
                    <a href="https://3dr.com/wp-content/uploads/2015/01/solo-drone-spin-transparent-500px.png">
                        <img src="https://3dr.com/wp-content/uploads/2015/01/solo-drone-spin-transparent-500px.png" class="thumbnail img-responsive">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://3dr.com/wp-content/uploads/2015/01/solo-drone-spin-transparent-500px.png">
                        <img src="https://3dr.com/wp-content/uploads/2015/01/solo-drone-spin-transparent-500px.png" class="thumbnail img-responsive">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://3dr.com/wp-content/uploads/2015/01/solo-drone-spin-transparent-500px.png">
                        <img src="https://3dr.com/wp-content/uploads/2015/01/solo-drone-spin-transparent-500px.png" class="thumbnail img-responsive">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 container" id="show-chat" style="display: none">
                <h3>Discusión</h3>
                <% work.messages.forEach(function(message){ %>
                    <% if(message.author.id.equals(currentUser._id)) { %>
                        <div class="row">
                            <div class="text-right" id="own-message">
                                <strong>Tú</strong>
                                <p class="bubble"><%= message.text %></p>
                                <form action="/works/<%=work._id%>/messages/<%=message._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="row">
                            <p class="bubble"><%= message.text %></p>
                            <strong><%= message.author.name %></strong>
                        </div>
                    <% } %>
                <% }) %>
                <form action="/works/<%=work.id%>/messages" method="POST">
                    <textarea class="form-control" rows="3" name="message[text]"></textarea>
                    <button class="btn btn-lg btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../javascript/works-show.js"></script>
<% include ../partials/footer %>