<% include ../partials/header %>

    <div class="banner text-center">
        <div class="container banner-content">
            <form action="/works/<%=work._id%>?_method=PUT" method="POST">
                <input type="text" class="form-control" name="work[name]" value="<%=work.name%>">
                <button class="btn btn-md btn-success">Guardar</button>
            </form>
        </div>
    </div>

    <div class="container" id="work-show">
        <div class="col-xs-12 col-lg-3" id="work-author">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert" style="width:100%; margin-top: 12px">
                    <%- error %>
                </div>
            <% } else if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert" style="width:100%; margin-top: 12px">
                    <%- success %>
                </div>
            <% } %>
            <div class="list-group">
                <button id="description-button" class="list-group-item">Descripción</button>
                <button id="images-button" class="list-group-item">Imágenes</button>
                <button id="authors-button" class="list-group-item">Autores</button>
                <button class="btn btn-md dropdown-toggle
                <%  if (work.status === "En Curso"){ %>
                        btn-warning
                    <% } else if(work.status === "Completado"){ %>
                        btn-success
                    <% } else if(work.status === "Abandonado"){ %> 
                        btn-danger
                    <% } %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%; text-align: left">
                    Estado: <%=work.status%>
                </button>
                <ul class="list-group-item dropdown-menu" style="display: none">
                    <li id="on-status"><a><button class="btn btn-warning"></button> En Curso</a></li>
                    <li id="done-status"><a><button class="btn btn-success"></button> Completado</a></li>
                    <li id="off-status"><a><button class="btn btn-danger"></button> Abandonado</a></li>
                </ul>
                <form id="on-form" action="/works/<%=work._id%>?_method=PUT" method="POST" style="display: none">
                    <input type="text" name="work[status]" value="En Curso">
                </form>
                <form id="done-form" action="/works/<%=work._id%>?_method=PUT" method="POST" style="display: none">
                    <input type="text" name="work[status]" value="Completado">
                </form>
                <form id="off-form" action="/works/<%=work._id%>?_method=PUT" method="POST" style="display: none">
                    <input type="text" name="work[status]" value="Abandonado">
                </form>
                <form action="/works/<%=work._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger" style="width: 50%">Eliminar</button>
                </form>
                <form action="/works/<%=work._id%>" method="GET">
                    <button class="btn btn-sm btn-warning" style="width: 50%; float: left">Salir</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-lg-9">
            <div class="col-xs-12" id="show-description">
                <h2>Descripción</h2>
                <form action="/works/<%=work._id%>?_method=PUT" method="POST">
                <textarea class="form-control" rows="10" name="work[description]"><%=work.description%></textarea>
                    <button class="btn btn-md btn-success">Guardar</button>
                </form>
            </div>
            <div class="col-xs-12 container" id="show-authors" style="display: none">
                <h3>Autores</h3>
                <div>
                    <img src="<%=work.author.image%>" class="img-circle">
                    <i class="glyphicon glyphicon-small glyphicon-chevron-right"></i>
                    <a href="/profiles/<%=work.author._id%>"><h4><%=work.author.name%> <%=work.author.lastname%></h4></a>
                    <% work.collabs.forEach(function(collab){ %>
                        <div style="margin-top: 10px">
                            <img src="<%=collab.image%>" class="img-circle">
                            <i class="glyphicon glyphicon-small glyphicon-chevron-right"></i>
                            <a href="/profiles/<%=collab._id%>"><h4><%=collab.name%> <%=collab.lastname%></h4></a>
                        </div>
                    <% }) %>
                    <h4>Buscar Personas</h4>
                    <input class="form-control" type="text" id="author-search" placeholder="Escribe el nombre de la persona" style="display:inline">
                    <button class="btn btn-md btn-success" style="display:inline" id="author-search-button">Buscar</button>
                    <div id="author-results"></div>
                    <input style="display: none" id="workid" value="<%=work._id%>">
                </div>
            </div>
            <div class="col-xs-12 container" id="show-images" style="display: none">
                <h3>Cambiar imagen de portada</h3>
                <form action="/works/<%=work._id%>?_method=PUT" method="POST">
                    <input class="form-control" type="text" name="work[thumbnail]" value="<%=work.thumbnail%>">
                    <button class="btn btn-md btn-success">Modificar</button>
                </form>
                <h3>Añadir imágenes</h3>
                <% if(work.images){work.images.forEach(function(image){ %>
                    <div class="col-xs-6 col-md-4">
                        <a href="<%=image%>">
                            <img src="<%=image%>" class="thumbnail img-responsive">
                        </a>
                    </div>
                <% })} %>
                <form action="/works/<%=work._id%>?_method=PUT" method="POST">
                    <input class="form-control" type="text" name="workimage" placeholder="URL de la imagen">
                    <button class="btn btn-md btn-success">Añadir</button>
                </form>
                
            </div>
        </div>
    </div>
    <script src="../../javascript/works-edit.js"></script>
    
<% include ../partials/footer %>