<% include ../partials/header %>

    <div class="container" id="worklist">
        <div class="row">
            <div class="col-xs-6">
                <h2>Trabajos</h2>
            </div>
            <div class="col-xs-6">
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger" role="alert" style="width:100%; margin-top: 12px">
                        <%= error %>
                    </div>
                <% } else if(success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert" style="width:100%; margin-top: 12px">
                        <%= success %>
                    </div>
                <% } %>
            </div>
        </div>
        <hr>
        <div class="row" >
            <div class="col-xs-12 col-md-3 text-center">
                <div class="list-group">
                    <button id="all-button" class="list-group-item">Todos</button>
                    <button id="on-button" class="list-group-item">En Curso</button>
                    <button id="done-button" class="list-group-item">Completado</button>
                    <button id="off-button" class="list-group-item">Abandonado</button>
                </div>
                <div class="btn-group" role="group" style="margin-bottom: 20px">
                    <button type="button" class="btn btn-default" id="previous-page"><</button>
                    <% for(var i = 1; i < n+1; i++){ %>
                        <% if(i == 1) { %>
                            <button type="button" class="btn btn-default btn-page <%=i%> active" value="<%=i%>"><%=i%></button>
                        <% } else if(i == n){ %>
                            <button type="button" class="btn btn-default btn-page <%=i%> last" value="<%=i%>"><%=i%></button>
                        <% } else { %>
                            <button type="button" class="btn btn-default btn-page <%=i%>" value="<%=i%>"><%=i%></button>
                        <% } %>
                    <% } %>
                    <button type="button" class="btn btn-default" id="next-page">></button>
                </div>
                <a class="btn btn-lg btn-success" style="width: 100%; margin-bottom: 30px" href="/works/new">Nuevo Trabajo</a>
            </div>
            <div class="col-xs-12 col-md-9" id="works-list">
            </div>
        </div>
    </div>
    
    <script src="javascript/works-index.js"></script>
<% include ../partials/footer %>